[submodule "Assets/Resources"]
	path = Assets/Resources[UWB]
	url = https://github.com/UWB-ARSandbox/Resources.git
[submodule "Assets/ASL"]
	path = Assets/ASL
	url = http://github.com/UWB-ARSandbox/ASL
