[submodule "Assets/UWBNetworkingPackage-LW"]
	path = Assets/UWBNetworkingPackage-LW
	url = https://github.com/UWB-ARSandbox/UWBNetworkingPackage-LW.git
[submodule "Assets/Resources"]
	path = Assets/Resources
	url = https://github.com/UWB-ARSandbox/Resources.git
